<div class="topnav" id="myTopnav">
    <a class="active" href="#home">Alemak</a>
    <a href="#login" class="split">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
</div>
